<div>
  <input placeholder="collection" [(ngModel)]="newJobName">
  <button (click)="createJob(newJobName)">Create New</button>
</div>
<br>
<div>
  <input placeholder="folder" [(ngModel)]="newFolderName">
  <button (click)="createFolder(newFolderName)">Create New</button>
</div>
<br>
<div>
  <input placeholder="component" [(ngModel)]="newComponentName">
  <button (click)="createComponent(newComponentName)">Create New</button>
</div>
<br>
<div>
  <input placeholder="instance" [(ngModel)]="newInstanceName">
  <button (click)="createInstance(newInstanceName)">Create New</button>
</div>
<br>
